@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$color_fondo_elementos: rgb(255, 238, 206);
$borde_linea_negra: 1px solid black;
$color_botones: chartreuse;

body {
  //background-color: floralwhite;
  background-image: url(./imagenes/fondo_pagina.jpg);
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif;
  @include flex_center;
  flex-direction: column;
}

.barra_navegacion {
  @include flex_center;
  background-color: $color_fondo_elementos;
  border-radius: 10px;
  border: $borde_linea_negra;
  width: 45%;
  h3 {
    margin-right: 3%;
  }
  #titulo {
    font-size: xx-large;
  }
  a {
    color: black;
    font-size: large;
    text-decoration: none;
    margin-left: 5%;
  }
  button {
    background-color: $color_botones;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-left: 5%;
  }
}

#panel_contactos {
  position: absolute;
  background-color: $color_fondo_elementos;
  border: $borde_linea_negra;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 40%;
  margin-bottom: 162%;
  padding: 2%;
  visibility: hidden;
}

#panel_contactos_atiendo {
  position: absolute;
  background-color: $color_fondo_elementos;
  border: $borde_linea_negra;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 90%;
  margin-left: 36%;
  padding: 2%;
  visibility: hidden;
}

.seccion_introduccion {
  @include flex_center;
  margin-top: 3%;
}

.texto_importante {
  width: 45%;
  margin: 2%;
  padding: 2%;
  button {
    font-size: large;
    border: none;
    border-radius: 15px;
    padding: 10%;
    background-color: $color_botones;
  }
}

.columna_imagenes {
  @include flex_center();
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  img {
    width: 100%;
    margin-top: 5%;
    padding: 0%;
    border: $borde_linea_negra;
    border-radius: 10px;
  }
}

.que_dicen_pacientes {
  @include flex_center;
  flex-direction: column;
  margin-bottom: 3%;
}

.resenias {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto;
  gap: 5%;
}

.comentario_paciente {
  @include flex_center;
  flex-direction: column;
  background-color: $color_fondo_elementos;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
  div {
    @include flex_center;
    h1 {
      text-align: center;
      font-size: xx-large;
      opacity: 75%;
      margin: 5%;
      margin-bottom: 50%;
    }
  }
}

.lugares_atencion {
  @include flex_center;
  flex-direction: column;
  background-color: $color_fondo_elementos;
  border: $borde_linea_negra;
  border-radius: 10px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.grupo_imagenes_consultorio {
  @include flex_center;
}

.imagenes_consultorio {
  width: 45%;
  border-radius: 10px;
  margin: 1%;
}

.perfil {
  border: $borde_linea_negra;
  border-radius: 10px;
}

.perfil2 {
  width: 25%;
  border: $borde_linea_negra;
  border-radius: 10px;
}
